.App {
  text-align: center;
}
.title {
  position: absolute;
  font-size: 3rem;
  top: 1rem;
}
.menu {
  position: fixed;
  background-color:rgb(41, 41, 41);
  left: 0px; 
  top: 250px;
  width: 25%;
  height: 100%;
}
.menuButton {
  color: white;
  position: fixed;
  left: 5px;
  top: 260px;
}
.menuList{
  color: lightgrey;
  list-style: none;
  font-size: 1rem;

}
.menuLink{
  text-decoration: none;
  color: rgb(58, 214, 206)
}
.listTitle {
  font-size: 2rem;
}
.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}
.hero-image {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}